.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;

  .poll-item {
    // display: flex;
    width: calc(50% - 32px);
    padding: 16px;
    font-size: 18px;

    &.hero {
      display: flex;
      width: 100%;
      background-color: darkgray;
    }

    .btn {
      &.selected {
        background-color: blue;
      }
    }

    .placeholder {
      &::after {
        content: "";

      }
    }
  }
}
